* {
   /* background-color: #1B1811;
   color: white; */
 }
 
 

 body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    font-family: 'Montserrat';
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    /* background-color: #1B1811; */
 
 }
 
 body::-webkit-scrollbar {
    display: none;
    
  }
 
 * {
    box-sizing: border-box;
 }
 
 
 
 
 