.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* background-color: #1B1811 ; */
}

.nav-ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  font-variant: small-caps;
  cursor: pointer;
 
}
