.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  
  /* background-color: #1B1811 ; */
}

.nav-ul {
  max-width: 100%;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-variant: small-caps;
  cursor: pointer;
  font-size: 1.5rem;
  align-self: center;
 
}


.rightbar {
  display: flex;
  justify-content: flex-end;
}